/* Non . classes */

main {
    padding: 20px;
    min-height: 700px;
    height: 100%;
    background-color: #C1C8E4;
}

p {
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    line-height: 1.6;
    padding: 10px;
}

li {
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

/* Color */

.red {
    color: #FF0000;
}

.white {
    color: white;
}

.purple {
    color: #C38D9E;
}

.bc-nav {
    background-color: #5AB9EA;
}

.brand-color {
    color: #5680E9;
    font-size: 30px;
    font-weight: 500;
}

/* Text styles */

.bold {
    font-weight: 650;
}

.indent {
    text-indent: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.disclaimer {
    position: fixed;
    bottom: 0px;
    font-size: 10px;
}

/* original margins css

    text-align: center or left;
    width: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
*/