/* Navigation Bar CSS */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white; 
}

/* Brand CSS */
.brand {
    background-color: #333;
    overflow: hidden;
}

.brand a {
    float: initial;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}

/* Fix brand and navbar to screen */
.fixed1 {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
}

.fixed2 {
    position: fixed;
    background-color: #333;
    width: 100%;
    top: 75px;
}

p {
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    line-height: 1.6;
}

li {
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    line-height: 1.6;
}

h1 {
    text-align: center;
}


/*
    text-alight: center or left;
    width: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
*/

.bold {
    font-weight: 650;
}

/* Miscellaneous Classes */

.white {
    color: white;
}

.green {
    color: #04AA6D;
}

.red {
    color: #FF0000;
}

.indent {
    text-indent: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}